<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @toy.name %></h1>
      <p><%= @toy.description %></p>
      <p><%= @toy.price_cents %></p>

      <%= link_to 'Back', root_path%>
    </div>
  </div>
</div>

