.form_new {
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 350px;
}

.form_new_design {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #DAD4D4;
  border-left: 1px solid #f0efef;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
  height: 500px;
}
