.media {
  display: flex;
  padding: 20px;
  padding-right: 40px;
}

.media-body {
  flex: 1 1 auto;
  padding: 20px;
}

.media-body img{
  width: 100%;
}

.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #DAD4D4;
  border-left: 1px solid #f0efef;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
  height: 500px;
}

.media-section {
  margin: 40px auto;
}

.media-section:first-child {
  margin-top: 0;
}

.media-section:last-child {
  margin-bottom: 0;
}

.card-show {
  width: 700px;
  height: 400px;
  border-radius: 20px;

}

.price {
  background-color: #A42CD6;
  color: white;
  margin-right: 200px;
  border-radius: 20px;
  padding: 5px;
  padding-top: 10px;

}

.booking_form {

}

