<html>
<head>

</head>

<body>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.4) 50%), url('https://media.truelocal.com.au/9/2/922BC2E5-81F0-4523-A3DE-5E32BC21C002/kids-party-factory-glenhaven-party-supplies-28c9-938x704.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1> Freakin' Fun </h1>
      </div>
      <br>
      <div class="col-xs-12">
        <p>Turn your kid's birthday party into an unforgettable experience</p>
      </div>
      <br>
      <div class="col-xs-12 ">
          <form action="/toys" method="get">
            <input class="search datepicker" type="text" placeholder="Start Date" id= "start_date" name="start_date">
            <input class="search datepicker" type="text" placeholder="End Date" id= "end_date" name="end_date">
            <input class="search" type="text" placeholder="Postcode" id="postcode" name="postcode">
            <input type="submit" class="btn">
          </form>
      </div>
    </div>
  </div>
</div>


      <div class="container">
        <h2 class="text-center line">Users' Testimonials</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="wrapper-white text-center">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= cl_image_path "http://res.cloudinary.com/dozuivp7c/image/upload/v1495634083/tzaollktntrbawnkbn1u.jpg", height: 200, width: 300, crop: :fill %>');background-size: cover;">
              </div>
              <h3>Jose Ignacio</h3>
              <p> I was having a party for my daughter's 8th birthday and was looking for a way I could make is truly magical for her. I rented a massive bouncy castle that was delivered to my house with no problem. My daughter and her friends had a lovely time and very much enjoyed jumping and laughing in the castle. </p>
            </div>
              <img class="card-user avatar avatar-large">
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="wrapper-white text-center">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= cl_image_path "http://res.cloudinary.com/dozuivp7c/image/upload/v1495634059/lia9cpax6tvppwrgw5jb.jpg", height: 250, width: 300, crop: :fill %>');background-size: cover;">

              </div>
                 <h3>Maria Ortez</h3>
                  <p>My daughter's birthday was approaching and I was looking for possible ways to make it a fun and traditional experience for her. People in Denmark don't really use pinatas, but thankfully I found this amazing app and was able to get a cute pinata for my daugher. She was very happy with the amount of candy that came out of it.</p>
            </div>

                <img class="card-user avatar avatar-large" >
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="wrapper-white text-center">
                <div class="card" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('<%= cl_image_path "http://res.cloudinary.com/dozuivp7c/image/upload/v1495634069/clfu3yoltfovq3cy2kub.jpg", height: 250, width: 300, crop: :fill %>'); background-size: cover;">
                </div>
                  <h3>Happy Mama Livia</h3>
                  <p>I rented a trampoline for my kids for a whole month during the summer. I loved seeing my children that happy and actively spending time in the garden instead of playing video games at home.</p>
              </div>
                <img class="card-user avatar avatar-large" >
            </div>
          </div>
        </div>
      </div>



</body>





</html>
