.btn {
  background-color: #75229b;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 15px;
  text-decoration: none;

}

.btn:hover {
  color: #DAD4D4;
  text-decoration: none;
}

.btn-dashboard {
  background-color: #75229b;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 15px;
  text-decoration: none;
}


.btn-dashboard:hover {
  color: #DAD4D4;
}
