.container-wrapper {
  background-size: cover;

}

.container-wrapper h2 {
  padding-top: 20px;
}

.container-box {
  display:flex;
  justify-content: center;
  padding: 20px;
}

.card-work {
  height: 220px;
  width: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: black;
  position: relative;
  background-color: #CD8B76;
  padding: 20px;
  border-radius: 15px ;
  margin: 50px;
  opacity: 0.6;
  box-shadow: 10px 10px 5px #888888;
}

.card-work2 {
  height: 220px;
  width: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: black;
  position: relative;
  background-color: #6DFE46;
  padding: 20px;
  border-radius: 15px;
  margin: 50px;
  opacity: 0.6;
  box-shadow: 10px 10px 5px #888888;
}

.wrapper-white {
  height: 500px;
  width: 300px;
  border: 3px solid#DBA8AC;
  border-radius: 15px;
  margin: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
}


.container h2 {
  font-size: 35px;
  color: black;
}

.container-again {
  display: flex;
  justify-content: space-around;
}

.card {
  height: 200px;
  width: 295px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 15px;

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  bottom: 100px;
  left: 200px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description h3 {
  font-size: 17px;
}
.card-description p {
  font-size: 14px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
