

.toy-card {
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px 5px #888888;
  color: #75229b;
  position: relative;
  border: 2px solid#75229b;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.toy-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}


